/*-----BOX-SIZING FIX------*/

/* Paul Irish Box-Sizing: Border-Box reset - apply a natural box layout model to all elements, but allowing components to change http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*-----GLOBAL RESETS------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of Reset */

//*---------------------------------------------*//

/* Start of Custom Styles */

html {
	-webkit-font-smoothing: antialiased;/*---this makes the fonts cleaner in Safari---*/
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: darkgrey;
	font-size: 1.2em;
	line-height: 1.5;
}

h1 {
	font-size: 2em;
	margin: 5px 0 20px 0;
	/*font-family: 'Slabo 27px', serif;*/
}

h2 {
	font-size: 1.3em;
	font-weight: bold;
}

.wrapper {
	background-color: gainsboro;
	background-image: url(../images/brickwall.png);
	background-repeat: repeat;
	margin: 0;
}

.main {
	width: 750px;
	margin: 0 auto;
	padding: 30px 35px;
	background-color: whitesmoke;
	text-align: center;
}

#query {
	height: 60px;
	width: 400px;
	font-size: 1.2em;
	color: grey;
	padding: 10px;
	margin: 25px 0;

}

#submit-btn {
	background-color: transparent;
	height: 60px;
	padding: 10px 20px;
	border:4px solid #2e53f7;
	color: #2e53f7;
	font-size: 1em;
}

#submit-btn:hover {
	background-color: #2e53f7;
	color: white;
	cursor: pointer;
}

.search-results {
	border: 5px solid gainsboro;
	padding: 20px;
	margin:30px auto;
	width: 525px;
	font-size: 1.2em;
}
.search-results a {
	color: black;
}

.video-link {
	text-decoration: none;

}

.video-list-item {
	width: 100%;
	background-color: white;
	border: 1px solid black;
	padding: 10px;
	font-size: 0.7em;
	height: 110px;
	margin-bottom: 15px;
	font-family: sans-serif;
	letter-spacing: 0;
	line-height: 1.2;
}


.video-list-item:hover {
	background-color: lightpink;
}

.video-img {
	float: left;
	width: 25%;
}

.video-description {
	float: left;
	text-align: left;
	width: 70%;
	margin-left: 20px;
}

.fp {
	font-size: 0.7em;
}


